.App {
  text-align: center;
  background-color: #f7f9fc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  width: 100%;
  margin: 20px auto;
}

.sidebar {
  width: 100%;
  padding: 20px;
  background-color: #f0f4f8;
  border-right: 1px solid #ccc;
}

.pdf-list {
  width: 100%;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #d0e7ff;
}

a {
  margin-left: 10px;
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

/* Responsive design improvements */
@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .sidebar, .pdf-list {
    width: 100%;
  }
}
