.App {
  text-align: center;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  width: 80%;
  margin: 20px auto;
}

.sidebar {
  width: 20%;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.pdf-list {
  width: 80%;
  padding-left: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}

a {
  margin-left: 10px;
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}
